<h1><%=h @message %> (Hello#index)</h1>
<p>Find me in app/views/hello/index.html.erb</p>

<ol>
	<% @count.times { %>
		<li><%=h @bonus %></li>
	<% } %>
</ol>

<% content_for(:list) do %>
<ol>
	<% for i in 1..@count %>
	<li><%=h @bonus %></li>
	<% end %>
</ol>
<% end %>
