<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%=h @message %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- <link rel="stylesheet" href="/stylesheets/hello.css" type="text/css" media="screen" title="no title" charset="utf-8"> -->
		<%= stylesheet_link_tag 'hello' %>
	</head>
	<body>
		(using layout)
		<!-- layout will incorporate view -->
		<%= yield :layout %>
	</body>
</html>
